*:not(input):not(textarea) {
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}
ul{
    margin:0;
    padding: 0;
    text-align: center;
}
li{
    margin:0;
    padding: 0;
    text-align: center;
}

.top_title {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
}

#main_title
{

}

.nav_bar_background
{
    height: 45px;
    margin: 0;
    padding: 0px 0px;
    position: relative;
    background: #2F694D;
    background-image: url('../img/car.png'),url('../img/car.png');
    background-repeat: no-repeat;
    background-position: 0% 50%,100% 50%;
    background-size: 60px;
}

.title_bar_back
{
    background: #252425;
    display: inline-block;
    width: 100%;
}

.page_all_container {
    width: 100%;
    height: 100%;
    position: relative;
}
.page_header {

    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    height: 87px;
    top: 0;
}
.page_content{
     font-size: 15px;
     margin: 0;
     /*overflow: hidden;*/
     position: absolute;
     left: 0;
     right: 0;
     /*overflow-y: auto;*/
     top: 87px;
     bottom: 20px;
     overflow: hidden;

 }
.page_wrapper{
    position: relative;
    display: inline-block;
    width: 100%;
}
.page_bottom{
    margin: 0;
    /* overflow: hidden; */
    position: absolute;
    left: 0;
    right: 0;
    /* overflow-y: auto; */
    bottom: 0px;
    -webkit-overflow-scrolling: touch;
    height: 15px;
    color: #ffffff;
    border-top: 1px solid #315C46;
    background: #315C46;;
    padding-top: 5px;
    font-weight: bold;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
}
.hidden {
    visibility: hidden;
    height: 0;
}

.tabbed_menu_container {
    width: 100%;
    height: 40px;
    background: #4F8169;
    text-align: center;
    border-bottom: 1px solid #294E3C;
    border-top: 1px solid #294E3C;
}
.tabbed_menu_element {
     color: #ffffff;
     display: inline-block;
     width: 30%;
     margin: 0;
     padding: 0;
     text-align: center;
     height: 40px;
     line-height: 40px;
     font-size: 16px;
     font-weight: bold;
     cursor: pointer;
 }
.tabbed_menu_element:active, .tabbed_menu_element_chosen{
    background: #386B52;
}


.buttonTouch{
    background: #33383C !important;
}
.contactTouch{
    background: rgba(22, 119, 72, 0.71);
    background-image: url(../img/pcontact.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 100% 50%;
}

.donationTouch{
    background: #33383C !important;
}

.button_start_ride{
    background: #175177;
    display: inline-block;
    color: #ffffff;
    margin: 0 auto;
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
    height: 198px;
    line-height: 198px;
    max-width: 198px;
    width: 198px;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 10000px;
    -moz-border-radius: 10000px;
    border-radius: 10000px;
    /* border: 1px solid #194D52; */
}


.button_start_ride_wrapper{
    width: 80%;
    background: #FFFFFF;
    color: #ffffff;
    margin: 0 auto;
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
    height: 200px;
    line-height: 200px;
    max-width: 200px;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 10000px;
    -moz-border-radius: 10000px;
    border-radius: 10000px;
    border: 1px solid #175177;
}
.button_donation{
    width: 90%;
    margin: 8px auto;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    height: 39px;
    line-height: 39px;
    background: #9E421E;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    display: block;
    background-image: url(../img/Hand-Left-48.png) !important;
    background-repeat: no-repeat !important;
    background-position: 7px 50% !important;
    background-size: 24px !important;
}
.button_facebook{
    width: 90%;
    margin: 8px auto;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    height: 39px;
    line-height: 39px;
    background: #1F3192;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    display: block;
    background-image: url(../img/Hand-Left-48.png) !important;
    background-repeat: no-repeat !important;
    background-position: 7px 50% !important;
    background-size: 24px !important;
}
.button_emergency_msg{
    width: 80%;
    margin: 0 auto;
    text-align: right;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    height: 45px;
    line-height: 45px;
    background: #9E1E1E;
    cursor: pointer;
    background-image: url(../img/Message-48.png) !important;
    background-repeat: no-repeat !important;
    background-position: 7px 50% !important;
    background-size: 22px !important;
}

.button_emergency_image{
    width: 80%;
    margin: 0 auto;
    text-align: right;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    height: 45px;
    line-height: 45px;
    background: #711C79;
    cursor: pointer;
    background-image: url(../img/Camera-01-48.png) !important;
    background-repeat: no-repeat !important;
    background-position: 7px 50% !important;
    background-size: 24px !important;
}

.button_save_number{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    height: 45px;
    line-height: 45px;
    background: #257386;
    cursor: pointer;
}


.button_edit_number{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    height: 45px;
    line-height: 45px;
    background: #257386;
    cursor: pointer;
}


.button_cancel_edit{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    height: 45px;
    line-height: 45px;
    background: #9E1E1E;
    cursor: pointer;
}


.mynumber_title{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 21px;
    font-size: 18px;
    font-weight: bold;
    color: #2F694D;
    border-bottom: 2px solid #2F694D;
    height: 45px;
    line-height: 45px;
}

.mynumber_label{
    direction: ltr;
    width: 80%;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #2F4469;
    border: 2px solid rgba(255, 255, 255, 0);
    height: 45px;
    line-height: 45px;
}

.mynumber_input {
    direction: ltr;
    width: 80%;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #2F4469;
    border: 2px solid #2F4469;
    height: 45px;
    line-height: 45px;
}


.buttonAddContact{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    height: 45px;
    line-height: 45px;
    background: #175680;
    cursor: pointer;
}


.contactsSeparator{
    height: 2px;
    background: #1A4866;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.contactsContainer{
    width: 80%;
    margin: 0 auto;
}

.smallContactContainer{
    font-size: 18px;
    font-weight: bold;
    padding-right: 50px;
    padding-left: 25px;
    background-image: url(../img/pcontact.png),url(../img/delete.png);
    background-repeat: no-repeat;
    background-size: 40px,15px;
    background-position: 100% 50%,0% 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(208, 221, 216, 1);
    cursor: pointer;
}

.smallContactName{
    text-align: right;
}
.smallContactPhone{
    text-align: left;
    direction: ltr;
}


/**
 Alertify
**/

.alertify-inner {
    text-align: center;
    background: #ffffff;
    border: 1px solid #A2A2A2;
    font-size: 16px;
    font-weight: bold;
    padding-top: 1px;
    color: #000000;
}

.alertify-button, .alertify-button:hover, .alertify-button:active, .alertify-button:visited .alertify-button:visited {
    background: none;
    text-decoration: none;
    border: none;
    line-height: 1.5;
    font-size: 100%;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    margin: 0;
    padding: 7px 0;
    outline:0;
    font-family: 'Alef','HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

#alertify-cancel {
    background: #C73C3C;
}

#alertify-ok {
    background: #399767;
}



.alertify-cover {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    filter: alpha(opacity=0);
    opacity: 0.5;
    background: #000000;
}











