.page_all_container {
    width: 100%;
    height: 100%;
    position: relative;
}
.page_header {

    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    height: 87px;
    top: 0;
}
.page_content{
     font-size: 15px;
     margin: 0;
     /*overflow: hidden;*/
     position: absolute;
     left: 0;
     right: 0;
     /*overflow-y: auto;*/
     top: 87px;
     bottom: 20px;
     overflow-y: scroll;
     -webkit-overflow-scrolling: touch;
 }
.page_bottom{
    margin: 0;
    /* overflow: hidden; */
    position: absolute;
    left: 0;
    right: 0;
    /* overflow-y: auto; */
    bottom: 0px;
    -webkit-overflow-scrolling: touch;
    height: 15px;
    color: #ffffff;
    border-top: 1px solid #315C46;
    background: #315C46;;
    padding-top: 5px;
    font-weight: bold;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
}
.page_hidden{
    display: none;
}

.tabbed_menu_container {
    width: 100%;
    height: 40px;
    background: #4F8169;
    text-align: center;
    border-bottom: 1px solid #294E3C;
    border-top: 1px solid #294E3C;
}
.tabbed_menu_element {
     color: #ffffff;
     display: inline-block;
     width: 30%;
     margin: 0;
     padding: 0;
     text-align: center;
     height: 40px;
     line-height: 40px;
     font-size: 16px;
     font-weight: bold;
     cursor: pointer;
 }
.tabbed_menu_element:active, .tabbed_menu_element_chosen{
    background: #386B52;
}



.button_start_ride{
    width: 80%;
    background: #306894;
    color: #ffffff;
    margin: 0 auto;
    font-weight: bold;
    font-size: 22px;
    margin-top: 40px;
    height: 200px;
    line-height: 200px;
    max-width: 200px;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 10000px;
    -moz-border-radius: 10000px;
    border-radius: 10000px;
    /* border: 1px solid #194D52; */
    -webkit-box-shadow: 0px 5px 7px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 5px 7px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 5px 7px 0px rgba(50, 50, 50, 0.75);
}
.button_start_ride:active{
    background: #28445A;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

.button_emergency{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    height: 45px;
    line-height: 45px;
    background: #9E1E1E;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 1px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 1px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 1px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.button_emergency:active{
    background: #791313;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.75);
}

